In [1]:
from sklearn.linear_model import Ridge    # Ridge 모델 불러오기
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

from math import sqrt

import numpy as np
import pandas as pd

In [2]:
ADMISSION_FILE_PATH = 'dataset/admission_data.csv'
admission_df = pd.read_csv(ADMISSION_FILE_PATH).drop('Serial No.', axis=1)
admission_df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [3]:
X = admission_df.drop(['Chance of Admit '], axis=1)

polynomial_transformer = PolynomialFeatures(6)
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names(X.columns)

X = pd.DataFrame(polynomial_features, columns = features)
y = admission_df[['Chance of Admit ']]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=5)

In [4]:
model = Ridge(alpha=0.001, max_iter=1000, normalize=True)     # alpha = 상수(람다), max_iter = 몇번 돌릴건지, normalize = 데이터 전처리
model.fit(X_train, y_train)

Ridge(alpha=0.001, max_iter=1000, normalize=True)

In [5]:
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

mse = mean_squared_error(y_train, y_train_predict)
print("training set 에서의 성능")
print(sqrt(mse))

mse = mean_squared_error(y_test, y_test_predict)
print("test set 에서의 성능")
print(sqrt(mse))

training set 에서의 성능
0.053278258058948286
test set 에서의 성능
0.06669588064639417