In [1]:
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import numpy as np
import pandas as pd

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)     # 경고 메세지 방지

In [2]:
iris_data = datasets.load_iris()

In [3]:
X = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)    # 입력 변수
y = pd.DataFrame(iris_data.target, columns=['Class'])    # 목표 변수

In [4]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [5]:
y

     Class
0        0
1        0
2        0
3        0
4        0
..     ...
145      2
146      2
147      2
148      2
149      2

[150 rows x 1 columns]

In [6]:
logistic_model = LogisticRegression(max_iter=2000)     # 로지스틱 회귀 모델

In [7]:
cross_val_score(logistic_model, X, y.values.ravel(), cv=5)     # k 겹 교차 검증
# cross_val_score(모델, 입력변수, 목표변수 (오류를 방지하기 위한  .values.ravel()), cv = 몇 겹으로 할건지 )

array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ])

In [8]:
np.average(cross_val_score(logistic_model, X, y.values.ravel(), cv=5))     # 평균 성능

0.9733333333333334