In [1]:
from sklearn.datasets import load_boston     # bostion 데이터 불러오기(교육용)
from sklearn.model_selection import train_test_split     # train set, test set 나누기
from sklearn.linear_model import LinearRegression     # 선형 회귀 모델
from sklearn.metrics import mean_squared_error     # MSE (평균제곱오차) 함수

import pandas as pd

In [2]:
boston_dataset = load_boston()     # boston 데이터 불러오기

X = pd.DataFrame(boston_dataset.data, columns = boston_dataset.feature_names)     # 입력 변수 DataFrame 만들기
X = X[['AGE']]     # AGE 열만 고려함

y = pd.DataFrame(boston_dataset.target, columns = ['MEDV'])     # 목표 변수 DataFrame 만들기

In [3]:
X

      AGE
0    65.2
1    78.9
2    61.1
3    45.8
4    54.2
..    ...
501  69.1
502  76.7
503  91.0
504  89.3
505  80.8

[506 rows x 1 columns]

In [4]:
y

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 5)     # train set, test set 뽑기

model = LinearRegression()     # 선형 회귀 모델 만들기
model.fit(X_train, y_train)     #선형 회귀 모델 train set 으로 학습시키기

y_test_prediction = model.predict(X_test)     # 가설함수로 test 값 예측

mean_squared_error(y_test, y_test_prediction) ** 0.5     # MSE 값에 제곱근 해서 모델 평가

8.236881612652455